/* variables */
$bug-element-color: #327540;
$electric-element-color: #FFD970;
$flying-element-color: #8477fd;
$ground-element-color: #f1be71;
$poison-element-color: #d777fd;
$steel-element-color: #89879b;
$dark-element-color: #351c16;
$fighting-element-color: #FA005A;
$ghost-element-color: #FA005A;
$ice-element-color: #FA005A;
$psychic-element-color: #FA005A;
$water-element-color: #77BDFD;
$dragon-element-color: #FA005A;
$fire-element-color: #FB6C6C;
$grass-element-color: #46D1B1;
$normal-element-color: #FA005A;
$rock-element-color: #FA005A;
$fairy-element-color: #FA005A;

$box-shadow-interfaces: 0px 0px 20px 6px rgba(0,0,0,0.15);

$item-id-color: rgba(0, 0, 0, 0.15);
$type-highlight: rgba(255, 255, 255, 0.4);

$roboto: 'Roboto', sans-serif;

/* light theme variables */
$light-background: #F6F8FC;
$light-interfaces: #FFFFFF;

/* dark theme variables 
$dark-background: #F6F8FC;
$dark-interfaces: #FFFFFF; */
